.main_container {
	min-height: 80vh;

	background-color: #f3f3f3;
}

.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	padding: 1em;
}